.messages {
    padding: 15px;
}

.messages-block {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.message-item {
    width: 100%;
    margin: 20px 0;
    border: solid 1px black;
    padding: 10px;
}

.message-author {
    margin: 0;
    font-size: 24px;
}

.message-date {
    padding-left: 10px;
    font-size: 16px;
    font-style: italic;
    color: grey;
    font-weight: normal;
}

.message-text {
    margin: 0;
    font-size: 20px;
    padding: 15px 20px 0;
}

#sendForm {
    width: 100%;
    display: flex;
}

.send-message-inp {
    width: 80%;
    padding: 10px;
}

.send-message-btn {
    width: 20%;
    background: dodgerblue;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}